// Attach fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

// Default font
$fontfamily: 'Montserrat',
sans-serif;

// Mixings
@mixin anim($time, $delay) {
    -webkit-transition: all $time ease $delay;
    -moz-transition: all $time ease $delay;
    -ms-transition: all $time ease $delay;
    -o-transition: all $time ease $delay;
    transition: all $time ease $delay;
}

@mixin anim_cubic($time, $delay) {
    -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}

@mixin rotate($deg) {
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin scale($num) {
    -webkit-transform: scale($num);
    -ms-transform: scale($num);
    -webkit-transform: scale($num);
    -o-transform: scale($num);
    transform: scale($num);
}

@mixin skew($num) {
    -webkit-transform: skewX($num);
    -webkit-transform: skewX($num);
    -ms-transform: skewX($num);
    -o-transform: skewX($num);
    transform: skewX($num);
}

@mixin cnt($h) {
    display: flex;
    flex-direction: column;
    height: $h;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}

@mixin tr($x, $y, $z) {
    transform: translate3d($x, $y, $z);
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
}

@mixin flexorder($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

// Variables
$minwidth: 320px;
$mw: 1170;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

// Reset CSS
.wrapper {
    width: 100%;
    // min-height: 100%;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside,
section {
    display: block;
}

html,
body {
    height: auto;
    width: 100%;
    min-width: 320px;
    position: relative;
    margin: 0;
    padding: 0;
    color: #000;
}

body {
    font-family: $fontfamily;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -moz-text-size-adjust: 100%;
    -ms-text-side-last: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.pts {
    font-family: 'PT Serif';
}

.bluebg {
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        @include rotate(20deg);
        position: absolute;
        width: 35%;
        height: 130%;
        left: -58px;
        top: -95px;
        background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0) 100%);
    }
}

.title {
    height: 48px;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 48px;
    color: #3c3f3d;
    font-weight: 700;
    font-family: "PT Serif";
    text-transform: uppercase;

    @media (max-width: $md3+px) {
        font-size: 25px;
        line-height: 33px;
    }
}

// Main grid
.container {
    max-width: $mw + px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $md1+px) {
        max-width: 970px;
    }

    @media (max-width: $md2+px) {
        max-width: 750px;
    }

    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}

header {
    position: relative;
    z-index: 50;

    @media (max-width: $md3+px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
}

.header {

    &__body {
        height: 100px;
        @include flexbox();
        justify-content: space-between;
        align-items: center;

        @media (max-width:$md2+px) {
            height: 70px;
        }

        @media (max-width:$md3+px) {
            height: 50px;
        }
    }

    &__logo {
        display: inline-block;
        width: 172px;
        position: relative;
        z-index: 6;

        img {
            max-width: 100%;
        }

        @media (max-width:$md2+px) {
            width: 125px;
        }
    }
}

.menu-header {
    &__icon {
        display: none;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        position: relative;

        span {
            @include anim(0.3s, 0s);
            top: 8px;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 0;
            }

        }

        &.active {
            span {
                @include scale(0);

                &:first-child {
                    @include rotate(-45deg);
                    top: 8px;
                }

                &:last-child {
                    @include rotate(45deg);
                    bottom: 8px;
                }
            }
        }

        @media (max-width:$md3+px) {
            display: block;
        }
    }

    &__menu {
        @media (max-width:$md3+px) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -110%;
            background-color: #fff;
            z-index: 2;
            padding: 50px 10px 20px 10px;
            overflow: auto;
            @include anim(0.3s, 0s);

            &.active {
                left: 0;
            }
        }
    }

    &__list {
        @include flexbox();

        li {
            margin-left: 35px;

            @media (max-width:$md1+px) {
                margin-left: 25px;
            }

            @media (max-width:$md2+px) {
                margin-left: 15px;
            }

            @media (max-width:$md3+px) {
                margin-bottom: 10px;

                &:last-child {
                    margin: 0;
                }
            }
        }

        @media (max-width:$md3+px) {
            display: block;
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        color: #646667;
        font-weight: 700;
        display: block;
        @include anim(0.3s, 0s);
        position: relative;

        &--circle {
            padding-right: 42px;
            background: url('../img/icons/earth.svg') right no-repeat;

            @media (max-width:$md2+px) {
                background-size: 20px;
                padding-right: 25px;
            }

            @media (max-width:$md3+px) {
                padding-left: 25px;
                background-position: left;
            }
        }

        span {
            position: relative;
            display: block;
            line-height: 28px;

            &:after {
                content: "";
                position: absolute;
                left: 50%;
                width: 0;
                height: 1px;
                background-color: #017397;
                bottom: 0;
                @include anim(0.3s, 0s);
            }
        }

        &:hover {
            color: #017397;

            span:after {
                left: 0;
                width: 100%;
            }
        }

        @media (max-width:$md2+px) {
            font-size: 11px;
        }

        @media (max-width:$md3+px) {
            font-size: 14px;
        }
    }
}

.mainblock {
    margin-bottom: 100px;

    &__imageblock {
        margin-bottom: 40px;

        @media (max-width: $md2+px) {
            margin-bottom: 25px;
        }
    }

    @media (max-width: $md2+px) {
        margin-bottom: 80px;
    }

    @media (max-width: $md3+px) {
        margin: 50px 0;
    }
}

.imageblock {
    position: relative;
    height: 411px;

    &__title {
        @extend .pts;
        position: absolute;
        bottom: 80px;
        right: 0;
        font-size: 32px;
        letter-spacing: 1px;
        line-height: 48px;
        color: #ffffff;
        font-weight: 700;
        filter: drop-shadow(0px 3px 0.5px rgba(0, 0, 0, 0.6));
        z-index: 5;
        text-transform: uppercase;
        max-width: 770px;
        padding-right: 20px;

        @media (max-width: $md1+px) {
            max-width: 670px;
            font-size: 28px;
            line-height: 44px;
        }

        @media (max-width: $md2+px) {
            max-width: 500px;
            font-size: 20px;
            line-height: 35px;
            bottom: 50px;
        }

        @media (max-width: $md3+px) {
            position: relative;
            bottom: 0;
            text-align: center;
            max-width: none;
            padding: 20px;
            font-size: 18px;
            line-height: 30px;
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    @media (max-width: $md2+px) {
        height: 300px;
    }

    @media (max-width: $md3+px) {
        height: auto;
        min-height: 250px;
        @include flexbox();
        justify-content: center;
        align-items: center;
    }
}

.bottomblock {
    text-align: center;

    &__text {
        font-size: 20px;
        line-height: 36px;
        color: #646667;
        font-weight: 300;
        max-width: 970px;
        margin: 0 auto;

        @media (max-width: $md2+px) {
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__btn {
        margin-top: 40px;

        @media (max-width: $md2+px) {
            margin-top: 25px;
        }
    }
}

.btn {
    display: inline-block;
    padding: 0 30px;
    height: 56px;
    line-height: 56px;
    background-color: #007397;
    overflow: hidden;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    min-width: 270px;
    text-align: center;

    &:after {
        content: '';
        width: 0;
        position: absolute;
        @include anim(0.8s, 0s);
        height: 100%;
        left: 50%;
        top: 0;
        background-color: #00526b;
    }

    span {
        position: relative;
        z-index: 2;
    }

    &:hover {
        &:after {
            left: 0;
            width: 100%;
        }
    }

    &.fw {
        width: 100%;
    }

    @media (max-width:$md3+px) {
        @include flexbox();
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
    }
}

.investor {
    margin-bottom: 100px;

    @media (max-width: $md2+px) {
        margin-bottom: 60px;
    }

    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }

    &__title {
        margin-bottom: 50px;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 36px;
        color: #646667;
        font-weight: 300;
        max-width: 670px;
        margin-bottom: 40px;

        @media (max-width: $md3+px) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }

    &__stat {}

    &__btn {}
}

.stat-investor {
    @include flexbox();
    justify-content: space-between;
    margin: 0 5px 0px 5px;

    &__column {
        flex: 0 1 auto;
        padding: 0 5px;
        margin-bottom: 25px;

        @media (max-width: $md3+px) {
            flex: 0 0 33.333%;
        }

        @media (max-width: $md4+px) {
            flex: 0 0 50%;
        }
    }

    &__item {}

    @media (max-width: $md3+px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.item-stat {
    text-align: center;

    &__value {
        font-size: 54px;
        color: #007397;
        font-family: "PT Serif";
        text-transform: uppercase;
        margin-bottom: 7px;

        @media (max-width: $md2+px) {
            font-size: 40px;
            margin-bottom: 5px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 32px;
        color: #aec3d4;

        @media (max-width: $md2+px) {
            font-size: 14px;
        }
    }
}

.newsmedia {
    margin-bottom: 70px;

    &__header {}

    &__text {}

    &__more {}

    @media (max-width: $md2+px) {
        margin-bottom: 40px;
    }

    @media (max-width: $md3+px) {
        margin-bottom: 20px;
    }
}

.header-newsmedia {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &__title {
        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__nav {}

    @media (max-width: $md3+px) {
        display: block;
        margin-bottom: 20px;
    }

}

.nav-newsmedia {
    @include flexbox();

    &__item {
        margin-left: 100px;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 16px;
        color: #d3cfce;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        &.active {
            color: #007397;
        }

        @media (max-width: $md2+px) {
            margin-left: 50px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 10px;
            margin-left: 10px;
        }
    }

    @media (max-width: $md3+px) {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.newsmedia__body {
    .item-newsmedia {
        @include flexbox();
        justify-content: space-between;
        margin: 0 -15px;

        @media (max-width: $md1+px) {
            margin: 0 -10px;
        }

        @media (max-width: $md2+px) {
            flex-wrap: wrap;
        }

        &__column {
            flex: 0 0 33.333%;
            padding: 0 15px;
            margin-bottom: 30px;

            @media (max-width: $md1+px) {
                padding: 0 20px;
            }

            @media (max-width: $md2+px) {
                flex: 0 0 50%;
            }

            @media (max-width: 630px) {
                flex: 1 1 100%;
                padding: 0 10px;
            }

            .content-newsmedia {
                @include flexbox();
                flex-direction: column;
                height: 100%;
                // max-width: 500px;
                margin: 0 auto;

                &__header {}

                &__text {
                    font-size: 16px;
                    line-height: 32px;
                    color: #646667;
                    padding: 28px 0;
                    flex: 1 1 auto;
                }

                &__more {
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 16px;
                    color: #007397;
                    font-weight: 700;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                @media (max-width: $md1+px) {
                    margin: 0 -10px;
                }

                @media (max-width: $md3+px) {
                    margin: 0;
                }
            }

            .header-contentnewsmedia {
                height: 370px;
                position: relative;

                &__content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 5;
                    padding: 25px 30px;

                    @media (max-width: md1+px) {
                        padding: 25px 20px;
                    }
                }

                &__image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}


.content-newsmediavalues {
    &__category {
        font-size: 12px;
        letter-spacing: 1px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 32px;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 30px 70px 30px;

        &:hover {
            text-decoration: underline;
        }

        @media (max-width: md1+px) {
            font-size: 18px;
            line-height: 24;
            padding: 0 20px 50px 20px;
        }
    }
}

.country {

    @media (max-width: 385px) {
        margin-bottom: 50px;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 32px;
        letter-spacing: 1px;
        line-height: 48px;
        color: #3c3f3d;
        font-weight: 700;
        font-family: "PT Serif";
        text-transform: uppercase;

        @media (max-width: $md3+px) {
            margin-bottom: 25px;
        }

        @media (max-width: 743px) {
            margin-bottom: 48px;
        }
    }

    &__map {
        height: 448px;
        width: 100%;

        // @media (max-width: 743px) {
        //     padding-top: 25px;
        // }

        @media (max-width: 385px) {
            padding-top: 50px;
        }
    }
}

footer {
    .footer__body {
        height: 125px;
        @include flexbox();
        justify-content: space-between;
        align-items: center;

        @media (max-width: 600px) {
            display: block;
            height: auto;
            text-align: center;
            padding: 20px 0;
        }

        .footer__column {
            &:last-child {
                text-align: right;

                @media (max-width: $md1+px) {
                    text-align: center;
                }
            }
        }

        .footer__link {
            font-size: 12px;
            letter-spacing: 1px;
            color: #646667;
            font-weight: 700;
            text-transform: uppercase;
            display: inline-block;

            &:first-child {
                margin-right: 54px;

                @media (max-width: 392px) {
                    margin-right: 15px;
                }
            }

            @media (max-width: 600px) {
                margin: 15px 10px 0 15px;
            }

            @media (max-width: 385px) {
                margin: 10px 10px 0 15px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .footer__copy {
            font-size: 12px;
            letter-spacing: 1px;
            color: #646667;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}